body{
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  color: white;
  background-color: black;
  font-family: 'Rubik', sans-serif;
  /* background-image: url("../images/bb.jpg"); */
}
/* Conteiner */
.container{
  width:80%;
  /* max-width:1200px; */
  margin: 0 auto;
  height:100%;
}

/* Banner */
.banner{
width: 100%;
height: 400%;
/* height: 5000px; */
margin 0;
background-image: url("../images/gallery_background.jpg");
/* background-repeat: repeat; */
background-size: cover;
-webkit-background-size: cover;
/* position: absolute; */
}

/* Header */
.header{
  width: 80%;
  /* max-width: 1200px; */
  margin: 0 auto;
  position: fixed;
  padding: 40px 20px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  /*-moz-transition: padding 0.3s;*/
  /*-o-transition: padding 0.3s;*/
  /*-webkit-transition: padding 0.3s;*/
  transition: padding 0.3s;
}

.up{
  width: 100%;
  z-index: 1000;
  position: fixed;
  padding: 60px 20px;
  /*-moz-transition: padding 0.3s;*/
  /*-o-transition: padding 0.3s;*/
  /*-webkit-transition: padding 0.3s;*/
  transition: padding 0.3s;
}

.logo{
float: left;
margin: -15 0 ;
}

.header__flex{
width: 100%;
align-items: center;
}

/* Nav */
.nav{
  font-size: 16px;
  text-transform: uppercase;
  float: right;
}

.nav_link{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  vertical-align: top;
  padding: 0 auto;
  margin:  5 20;
  transition: color .3s linear;
}

.nav_link:hover{
  color: yellow;
  /* text-decoration:underline; */
}


/* Intro */
.intro{
  /* float: left; */
  /* padding: 100px; */
    /* margin: 50 auto; */
    display: grid;
    position: relative;
     grid-template-columns: repeat(12 , 1fr);
}

img{
  width: 100%;
  display: block;
}

h1 {
  margin: 0 0;
  font-size: 46px;
    color: #c9a557;
    text-align: center;
}

p{
color: white;
  text-align: center;
}
.intro_text{
  /* align-items: center; */
margin: 120 auto;
  grid-row: 1;
   grid-column: 3 / span 8;
}

/* Body_Gallery */

.gallery{
  padding-top: 150;
  width: 80%;
  margin: auto;
  /* top: 500; */
  display: grid;
  /* grid-template-rows: repeat(30 , 1fr); */
}



/* Last_Banner */

.end{
  width: 100%;
   /* max-width: 1200px; */
  height: 50%;
  display: grid;
  grid-template-rows: 10fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-image: url("../images/last_banner.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  /* position: absolute; */
}

.up_left_banner{
grid-row: 1;
grid-column: 1/span2;
margin: 50 20 80 20;
padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.up_right_banner{
grid-row: 1;
grid-column: 2;
margin: 50 20 80 20;
/* padding: 0; */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.35); */
}

.down_left_banner{
  grid-row: 2;
  grid-column: 1;
}

.down_right_banner{
  grid-row: 2;
  grid-column: 2;
}

.inst{
width: 50px;
height: 50px;
object-fit: contain;
}
